.container{
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.container h1{
    text-align: center;
    font-size: 3rem;
}

.content{
    width: 90%;
    gap: 2rem;
}

.div-img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.content-img, .content-text{
    justify-content: start;
    align-items: center;
}



.content-text{
    line-height: 1.8;
    padding: 1rem;
}

.content-text h2{
    text-align: center;
}



@media only screen and (width < 1000px){
    .content{
        gap: 1rem;
    }
}


@media only screen and (width < 1000px){
    .container h1{
        font-size: 2rem;
    }
}