#ourTeam .content{
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#ourTeam.container {
    gap: 1rem;
}

#ourTeam .person-container{
    width: 17rem;
}

#ourTeam .person-descript h3{
    height: 2.5rem;
}

#ourTeam .person-descript :not(p) {
    text-align: center;
}

#ourTeam .person-img{
    background-position: center;
    background-size: cover;
    aspect-ratio: 1;
    width: 100%;
}

#ourTeam .person-descript{
    padding: 1rem;
}

#ourTeam .man{
    background-image: url("../../../images/team/unknown_man.png");
}

#ourTeam .woman{
    background-image: url("../../../images/team/unknown_woman.png");
}


@media only screen and (width < 760px) {
    #ourTeam .person-container{
        width: 100%;
    }   

    #ourTeam .person-descript h3{
        font-size: 1.5rem;
        height: min-content;
    }

    #ourTeam .person-descript h4{
        font-size: 1.5rem;
    }

    /* #ourTeam .person-descript p{
        font-size: 1.5rem;
        line-height: 1.5;
    } */ 
}